{:kotoba.app/id "cloud.itonami.isic-4662", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigtqfqkxpouc7htc7jsjvp7svgjtfaifhj7w34rlhu6m54id4fiam", :kotoba.app/embed-url "ipfs://bafkreigtqfqkxpouc7htc7jsjvp7svgjtfaifhj7w34rlhu6m54id4fiam", :published {:archive "https://kotobase.net/ipfs/bafkreigtqfqkxpouc7htc7jsjvp7svgjtfaifhj7w34rlhu6m54id4fiam", :size 72850, :put-status 201, :get-status 200, :at "2026-08-15T13:49:57.231Z"}}
